{% extends "base.html.twig" %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Uploader</h3>
            </div>
            <div class="card-content">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\FileController::upload')) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card overlay-img-card text-white">
            <img src="{{ asset('images/public.png') }}" class="card-img" alt="card-img-6">
            <div class="card-img-overlay overlay-black d-flex flex-column justify-content-between">
                <h3 class="card-title text-white">Public Cloud</h3>
                <div class="card-content">
                    Envoyé & récupéré des fichiers sur notre Public Cloud.
                    <div class="mt-2">
                        <a href="{{ path('public_cloud') }}" title="Public Cloud" class="btn gradient-light-primary btn-block waves-effect waves-light">Tous les fichiers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card overlay-img-card text-white">
            <img src="{{ asset('images/private.png') }}" class="card-img" alt="card-img-6">
            <div class="card-img-overlay overlay-black d-flex flex-column justify-content-between">
                <h3 class="card-title text-white">Private Cloud</h3>
                <div class="card-content">
                    Créer vos containers personnels afin de stocker vos fichiers.
                    <div class="mt-2">
                        <button class="btn gradient-light-primary btn-block waves-effect waves-light">En savoir plus</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}