<div class="col-xl-2 col-md-4 col-sm-6">
    <div class="card text-center">
        <div class="card-content">
            <div class="card-body">
                <div class="avatar bg-rgba-info p-50 m-0 mb-1">
                    <div class="avatar-content">
                        <i class="feather icon-file text-info font-medium-5"></i>
                    </div>
                </div>
                <h2 class="text-bold-700">{{ app.user.files|length }}</h2>
                <p class="mb-0 line-ellipsis">File(s)</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-2 col-md-4 col-sm-6">
    <div class="card text-center">
        <div class="card-content">
            <div class="card-body">
                <div class="avatar bg-rgba-warning p-50 m-0 mb-1">
                    <div class="avatar-content">
                        <i class="feather icon-disc text-warning font-medium-5"></i>
                    </div>
                </div>
                <h2 class="text-bold-700">{{ stockage }}</h2>
                <p class="mb-0 line-ellipsis">Stockage used</p>
            </div>
        </div>
    </div>
</div>